*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
#container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
#form1{
    border: 2px solid red;
    width: 400px;
    height: 400px;
}
/* #form2{
    border: 2px solid red;
    width: 400px;
    height: 400px;
}
#form3{
    border: 2px solid red;
    width: 400PX;
    height: 400px;
} */